#listApps {
  margin-top: 4em;
}

.ident {
  background: url(../styles/icons/ident.svg) no-repeat;
  width: 55px;
  height: 55px;
  display: inline-block;
  margin: 20px;
}

.home {
  background: url(../styles/icons/home.svg) no-repeat;
  width: 55px;
  height: 55px;
  display: inline-block;
  margin: 20px;
}

.co-working {
  background: url(../styles/icons/cowork.svg) no-repeat;
  width: 55px;
  height: 55px;
  display: inline-block;
  margin: 20px;
}

.data {
  margin-top: 4em;
  color: #e9f5f3;
}

.input {
  width: 97%;
  height: 2em;
  border: 0;
  color: #c8d5d3;
  border-bottom: 1px solid #24293d;
  background-color: #191c2f;
  text-align: left;
  padding-left: 10px;
  margin-bottom: 15px;
}

.input:focus {
  text-align: left;
  padding-left: 10px;
  outline: none;
  border-bottom: 1px solid rgba(#5765d7, 0.7);
}

.input::placeholder {
  text-align: left;
  color: #616775;
}

.checkbox {
  padding: 8px 0;
  border-bottom: 1px solid #24293d;
}


.checkboxTitle {
  font-family: 'Roboto', sans-serif;
  color: #c8d5d3;
  position: relative;
  right: 325px;
}
.switch {
  display: inline-block;
  height: 22px;
  width: 43px;
  position: relative;
  top: 1px;
  left: 160px;
}

.switch input {
  display:none;
}

.slider {
  background-color: #616775;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .1s;
}

.slider:before {
  background-color: #b3bebc;
  bottom: 1px;
  content: "";
  height: 20px;
  left: 0;
  position: absolute;
  transition: .1s;
  width: 20px;
}

input:checked + .slider {
  background-color: #444fa5;
}

input:checked + .slider:before {
  transform: translateX(22px);
}

.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

.button-send-submit {
  font-family: 'Roboto', sans-serif;
  color: #b3bebc;
  font-weight: 600;
  text-decoration: none;
  user-select: none;
  padding: .4em 3.5em;
  outline: none;
  border: 0 solid;
  border-radius: 0;
  transition: 0.1s;
  background: #444fa5;
  position: relative;
  top: 50px;
}

.setAddress {
  width: 97%;
  border-bottom: 1px solid #24293d;
  text-align: left;
  padding: 8px
}
.selectAddress {
  font-family: 'Roboto', sans-serif;
  color: #5762ef;
}
.setProfile {
  width: 97%;
  border-bottom: 1px solid #24293d;
  text-align: left;
  padding: 8px
}
#chooseProfile {
  font-family: 'Roboto', sans-serif;
  color: #5762ef;
}

#profileInfo {
  font-family: 'Roboto', sans-serif;
  color: #1cd40f;
}

.plsWaiting {
  position: absolute;
  top: 3em;
  height: 30px;
  left: 0;
  right: 0;
  background: #058b00;
  color: #fff;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
}

.list-menu {
  padding: 15px 0;
  border-top: 1px solid #24293d;
  text-align: center;
}

.list-menu:last-child {
  border-bottom: 1px solid #24293d;
}

.cors-list {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  color: #c8d5d3;
  position: absolute;
  left: 70px;
  top: 40px;
}

.qr-invite {
  width: 14em;
  height: 14em;
  position: absolute;
  top: 70px;
  left: 50%;
  margin-left: -7em;
  background-color: #24293d;
}

.invite-code {
  word-wrap: break-word;
  width: 24em;
  height: 3.3em;
  line-height: 1.7em;
  position: absolute;
  top: 310px;
  left: 50%;
  margin-left: -12em;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  background-color: #24293d;
  color: #e9f5f3;
}
.copy-pairing {
  font-family: 'Roboto', sans-serif;
  color: #b3bebc;
  font-weight: 600;
  text-decoration: none;
  user-select: none;
  padding: .4em 3.5em;
  outline: none;
  border: 0 solid;
  border-radius: 0;
  transition: 0.1s;
  background: #444fa5;
  position: relative;
  top: 340px;
}

.invDev {
  background: url(../styles/icons/pairingcode.svg) no-repeat;
  width: 50px;
  height: 50px;
  display: inline-block;
  margin: 10px 7px;
}

.recvCorr {
  background: url(../styles/icons/acceptinvite.svg) no-repeat;
  width: 50px;
  height: 50px;
  display: inline-block;
  margin: 10px 7px;
}


#text_input {
  position: fixed;
  bottom: 10px;
  left: 55px;
  width: 72%;
  height: 2em;
  border: 0;
  color: #7E8494;
  border-bottom: 1px solid rgba(#c8d5d3, 0.5);
  background-color: #191c2f;
  text-align: left;
  padding: 0 5px;
}

#text_input:focus {
  text-align: left;
  outline: 0;
  border-bottom: 1px solid rgba(#5765d7, 0.7);
}

#text_input::placeholder {
  text-align: left;
  color: #7E8494;
}

#menu_img {
  position: fixed;
  background: url(../styles/icons/menu.svg) no-repeat;
  width: 34px;
  height: 34px;
  display: inline-block;
  bottom: 0;
  left: 12px;
}

#send_img {
  background: url(../styles/icons/send_1.svg) no-repeat;
  width: 34px;
  height: 34px;
  display: inline-block;
  position: fixed;
  bottom: 7px;
  right: 12px;
}

#bl_for_scroll {
  position: fixed;
  overflow-y: scroll;
  top: 3em;
  bottom: 5em;
  left: 0;
  right: 0;
}

#bl_for_scroll_corrs {
  position: fixed;
  overflow-y: scroll;
  top: 3em;
  bottom: 80px;
  left: 0;
  right: 0;
}

#messages_block {
  color: #fff;
}

.m_l, .m_r {
  max-width: 80%;
  word-wrap: break-word;
  color: #fff;
  border-radius: 10px;
  padding: 7px 12px
}

.m_l {
  margin: 15px 10px;
  text-align: left;
  background-color: #5d5d5d;
}

.m_r {
  margin: 15px 10px 0 19%;
  text-align: right;
  background-color: #5568bf
}

#send_my_address, #insert_my_address, #insert_my_profile {
  position: absolute;
  width: 250px;
  padding: 10px;
  background-color: #58606c;
}

#send_my_address {
  margin-top: -50px;

}

#insert_my_address {
  margin-top: -60px;
}
#insert_my_profile {
  margin-top: -100px;
}

#action_tab_bg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.7);
}

#action_tap_menu {
  position: absolute;
  bottom: 15px;
  left: 15px;
  right: 15px;
  border-radius: 10px;
  background-color: #262947;
  color: #fff;
  z-index: 10000;
}

#action_tap_menu > div{
  padding: 20px 15px;
  font-size: 16px;
  text-align: center;
}

#action_tap_menu > div:not(:last-child) {
  border-bottom: 1px solid #191c2f;
}

.redText {
  color: #ea2b2b;
}