@import 'vars.scss';

.qr-address {
  width: 14em;
  height: 14em;
  position: absolute;
  left: 50%;
  margin-left: -7em;
  background-color: #ffffff;
  margin-top: 30px;
}

.address {
  width: 24em;
  height: 1.7em;
  line-height: 1.7em;
  position: relative;
  top: 260px;
  left: 50%;
  margin-left: -12em;
  text-align: center;
  font-family: $font;
  font-size: 1em;
  background-color: #ffffff;
  color: #000000;
  padding-bottom: 20px;
  box-sizing: border-box;
  border-bottom: 2px solid #BFC0C2;

  text {
    bottom: 5px;
    position: relative;
  }
}

.faucet {
  position: relative;
  top: 350px;
  text-align: center;
  font-family: $font;
  font-size: 1em;
  color: #e9f5f3;
  width: 100%;
  display: flex;

  & a {
    background: #008ECF;
    color: #ffffff;
    padding-top: 17px;
    padding-bottom: 17px;
    width: 100%;
  }
}

.receive-block {
  width: 400px;
  height: 500px;
  position: absolute;
  margin-left: -200px;
  left: 50%;
  top: 10%;
}