@import 'vars.scss';

.qr-address {
  width: 14em;
  height: 14em;
  position: absolute;
  left: 50%;
  margin-left: -7em;
  background-color: $backgroundLight;
}

.address {
  width: 24em;
  height: 1.7em;
  line-height: 1.7em;
  position: absolute;
  top: 240px;
  left: 50%;
  margin-left: -12em;
  text-align: center;
  font-family: $font;
  font-size: 1em;
  background-color: $backgroundLight;
  color: #e9f5f3;
}

.faucet {
  position: absolute;
  top: 297px;
  text-align: center;
  font-family: $font;
  font-size: 1em;
  color: #e9f5f3;
  width: 100%;

  & a {
    border: 1px solid #212533;
    padding: 12px;
    background: $backgroundLight;
  }
}

.receive-block {
  width: 400px;
  height: 500px;
  position: absolute;
  margin-left: -200px;
  left: 50%;
  top: 10%;
}