$background: #191c2f;

.send-form {
  width: 95%;
  height: 500px;
  left: 2%;
  top: 7%;
  text-align: center;
}

.address-input {
  margin-top: 80px;
}

.amount-input {
  margin-top: 60px;
}

.send-input {
  width: 98%;
  height: 2em;
  border: 0;
  color: #7E8494;
  border-bottom: 1px solid rgba(#c8d5d3, 0.5);
  background-color: $background;
  text-align: center;
}

.send-input:focus {
  text-align: center;
  outline: 0;
  border-bottom: 1px solid rgba(#5765d7, 0.7);
}

.send-input:focus::-webkit-input-placeholder {
  color: transparent
}

.send-input::placeholder {
  text-align: center;
  color: #7E8494;
}

.button-send-submit {
  font-family: 'Roboto', sans-serif;
  color: #b3bebc;
  font-weight: 600;
  text-decoration: none;
  user-select: none;
  padding: .4em 3.5em;
  outline: none;
  border: 0 solid;
  border-radius: 0;
  transition: 0.1s;
  background: #444fa5;
  position: relative;
  top: 50px;
}

.button-block {
  height: 50px
}
.balance-coin-name {
  word-wrap: break-word;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  text-align: center;
  color: #e9f5f3;
}