$background: #191c2f;

body {
  background-color: $background;
}

.menu {
  height: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  position: absolute;
}

.qr-scanner {
  background: url(../styles/icons/scan.svg) no-repeat;
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  left: 25%;
  margin-left: -20px;
}

.app-icon {
  background: url(../styles/icons/apps.svg) no-repeat;
  width: 40px;
  height: 40px;
  position: absolute;
  display: block;
  left: 75%;
  margin-left: -20px;
}

.back-button {
  background: url(../styles/icons/back.svg) no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 16%;
  left: 4%;
}

.back-button:hover {
  background: url(../styles/icons/hover/back-hover.svg) no-repeat;
  width: 20px;
  height: 20px;
}

.qrScanner-title {
  font-family: 'Roboto', sans-serif;
  color: #c8d5d3;
  text-align: center;
  position: absolute;
  top: 5%;
  left: 40%;
}

.wallet-title {
  font-family: 'Roboto', sans-serif;
  color: #c8d5d3;

}

.top-bar {
  background-color: #24293d;
  text-align: center;
  width: 95%;
  height: 2em;
  line-height: 2em;
  position: fixed;
  bottom: 93%;
  left: 2%;
}

.wallet-menu {
  text-align: center;
  width: 95%;
  height: 4em;
  line-height: 4em;
  position: absolute;
  bottom: 58%;
  left: 2%;
}

.send-button {
  background: url(../styles/icons/send.svg) no-repeat;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 28%;
}

.send-button:hover {
  background: url(../styles/icons/hover/sendHover.svg) no-repeat;
  width: 40px;
  height: 40px;
}

.receive-button {
  background: url(../styles/icons/receive.svg) no-repeat;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 28%;
}

.receive-button:hover {
  background: url(../styles/icons/hover/getHover.svg) no-repeat;
  width: 40px;
  height: 40px;
}

.listAddChannel {
  color: #c8d5d3;
  margin-top: 50px;
  background-color: #24293d;
  padding: 10px;
}

.listAddChannel div:not(:last-child) {
  padding: 10px 0;
  border-bottom: 1px solid #191c2f;
}

#choosePr {
  color: #5762ef;
}

.chBtns {
  position: absolute;
  bottom: 0;
  left: 10px;
  right: 10px;
}

.chApprove {
  background-color: #444fa5;
  line-height: 40px;
  text-align: center;
}

.chReject {
  background-color: #24293d;
  line-height: 40px;
  text-align: center;
  margin-top: 5px;
}

.profiles-list-body-name {
  font-family: 'Roboto', sans-serif;
  color: #c8d5d3;
  position: absolute;
  left: 5px;
  top: 5px;
}

.profiles-list-body-balance {
  font-family: 'Roboto', sans-serif;
  color: #c8d5d3;
  position: absolute;
  left: 5px;
  top: 40px;
}

//list of wallets
/*.Ethereum {
  display: inline-block;
  background: url(../styles/icons/ethLogo.svg) no-repeat;
  width: 45px;
  height: 45px;
  position: absolute;
  left: 13px;
  top: 15%;
}*/


.plsWaiting {
  position: absolute;
  top: 3em;
  height: 30px;
  left: 0;
  right: 0;
  background: #058b00;
  color: #fff;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
}


.name-title {
  font-size: 20px;
  color: #fff;
  margin: 30px 0;
}

.name-input {
  width: 98%;
  height: 2em;
  border: 0;
  color: #505663;
  border-bottom: 1px solid rgba(#c8d5d3, 0.5);
  background-color: $background;
  text-align: center;
}

.button-block {
  height: 50px
}

.button-send-submit {
  font-family: 'Roboto', sans-serif;
  color: #b3bebc;
  font-weight: 600;
  text-decoration: none;
  user-select: none;
  padding: .4em 3.5em;
  outline: none;
  border: 0 solid;
  border-radius: 0;
  transition: 0.1s;
  background: #444fa5;
  position: relative;
  top: 50px;
}

.button-send-submit:hover {
  color: #a4afad;
  background: #3c4692;
}