$background: #191c2f;

.wallets-list {
  background-color: #24293d;
  width: 95%;
  height: 6%;
  position: absolute;
  bottom: 93%;
  left: 2%;
}

.wallets-list-text {
  font-family: 'Roboto', sans-serif;
  color: #c8d5d3;
  position: absolute;
  bottom: 25%;
  left: 3%;
}

.wallets-list-body {
  margin-top: 3%;
  background-color: #24293d;
  width: 100%;
  height: 14%;
  display: block;
  position: relative;
}

.wallets-list-body-name {
  font-family: 'Roboto', sans-serif;
  color: #c8d5d3;
  position: absolute;
  left: 15%;
  top: 5px;
}

.wallets-list-body-balance {
  font-family: 'Roboto', sans-serif;
  color: #c8d5d3;
  position: absolute;
  left: 15%;
  top: 40px;
}

.Byteball {
  display: inline-block;
  background: url(../styles/icons/bballLogo.svg) no-repeat;
  width: 45px;
  height: 45px;
  position: absolute;
  left: 5px;
  top: 15%;
}


.state-wallets {
  width: 95%;
  height: 80%;
  background-color: $background;
  overflow: auto;
  position: absolute;
  bottom: 12%;
  left: 2%;
}

.state-wallets::-webkit-scrollbar {
  width: 6px;
}

.state-wallets::-webkit-scrollbar-thumb {
  border-width: 0.7px 0.7px 0.7px 1.4px;
  border-color: #191c2f;
  background-color: #5765d7;
}

.state-wallets::-webkit-scrollbar-track {
  border-width: 0;
}

.state-wallets::-webkit-scrollbar-track:hover {
  border-left: solid 1px #5765d7;
  background-color: #191c2f;
}

.state-wallets::-webkit-scrollbar-track {
  border-width: 0;
}

.button-submit {
  font-family: 'Roboto', sans-serif;
  color: #b3bebc;
  font-weight: 600;
  text-decoration: none;
  user-select: none;
  padding: .4em 1.6em;
  outline: none;
  border: 0 solid;
  border-radius: 0;
  transition: 0.1s;
  position: absolute;
  left: 40%;
  top: 70%;
  background: #444fa5;
}

.button-submit:hover {
  color: #a4afad;
  background: #3c4692;
}


.add-wallet-button {
  background: url(../styles/icons/plus.svg) no-repeat;
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: 18%;
  left: 90%;
}

.add-wallet-button:hover {
  background: url(../styles/icons/hover/plusHover.svg) no-repeat;
  width: 25px;
  height: 25px;
}

//modal window content

.tdl-input {
  position: absolute;
  left: 27%;
  top: 37%;
  border: 0;
  color: #505663;
  border-bottom: 1px solid rgba(#c8d5d3, 0.5);
  background-color: $background;
  text-align: center;
}

.tdl-input:focus {
  text-align: center;
  outline: 0;
  border-bottom: 1px solid rgba(#5765d7, 0.7);
}

.tdl-input:focus::-webkit-input-placeholder {
  color: transparent
}

.tdl-input::placeholder {
  text-align: center;
  color: #505663;
}

.input-radio {
  margin-top: 20%;
  margin-left: 15%;
}

.radio-label {
  font-family: 'Roboto', sans-serif;
  color: #c8d5d3;
}

button {
  cursor: pointer;
}

//modal window
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);

  .modal-background {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
  }

  .modal-main {
    display: block;
    width: 80%;
    height: 20%;
    position: fixed;
    z-index: 15;
    background-color: $background;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .modal-title {
    margin: 0 0;
    font-family: 'Roboto', sans-serif;
    color: #c8d5d3;
    position: absolute;
    z-index: 15;
    left: 35%;
    top: 5%;
  }
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
