@import 'vars.scss';

.wallets-list {
  background-color: $backgroundLight;
  width: 95%;
  height: 2em;
  line-height: 2em;
  text-align: left;
  position: absolute;
  top: 0.9em;
  left: 2%;

  &-text {
    font-family: $font;
    color: #c8d5d3;
    margin-left: 15px;
  }

  &-body {
    margin-top: 10px;
    background-color: $backgroundLight;
    width: 100%;
    height: 72px;
    display: block;
    position: relative;
    overflow: hidden;

    &-name {
      font-family: $font;
      color: #c8d5d3;
      position: absolute;
      left: 70px;
      top: 5px;
    }

    &-balance {
      font-family: $font;
      color: #c8d5d3;
      position: absolute;
      left: 70px;
      top: 40px;
    }
  }
}



.Byteball {
  display: inline-block;
  background: url(../styles/icons/bballLogo.svg) no-repeat;
  width: 45px;
  height: 45px;
  position: absolute;
  left: 5px;
  top: 15%;
  display: none;
}


.state-wallets {
  // background-color: #ffffff;

  // &::-webkit-scrollbar {
  //   width: 6px;

  //   &-thumb {
  //     border-width: 0.7px 0.7px 0.7px 1.4px;
  //     border-color: $backgroundDark;
  //     background-color: #5765d7;
  //   }
  // }
}



// .state-wallets::-webkit-scrollbar-track {
//   border-width: 0;
// }

.wallets-list-body {
  border-top: 2px solid #DFDFE0;
  // border-bottom: 2px solid #DFDFE0;
  background: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin-top: 0;
}

.button-submit {
  font-family: $font;
  color: #b3bebc;
  font-weight: 600;
  text-decoration: none;
  user-select: none;
  padding: .4em 1.6em;
  outline: none;
  border: 0 solid;
  border-radius: 0;
  transition: 0.1s;
  position: absolute;
  left: 40%;
  top: 70%;
  background: #444fa5;
}

.add-wallet-button {
  background: url(../styles/icons/plus.svg) no-repeat;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 10%;
  right: 15px;
}

//modal window content

.tdl-input {
  position: absolute;
  left: 27%;
  top: 37%;
  border: 0;
  color: #656d7a;
  border-bottom: 1px solid rgba(#c8d5d3, 0.5);
  background-color: $backgroundDark;
  text-align: center;

  &:focus {
    text-align: center;
    outline: 0;
    border-bottom: 1px solid rgba(#5765d7, 0.7);

    &::-webkit-input-placeholder {
      color: transparent
    }
  }

  &::placeholder {
    text-align: center;
    color: #656d7a;
  }
}


.input-radio {
  margin-top: 20%;
  margin-left: 15%;
}

.radio-label {
  font-family: $font;
  color: #c8d5d3;
}

button {
  cursor: pointer;
}

//modal window
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);

  &-background {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
  }

  &-main {
    display: block;
    width: 80%;
    height: 20%;
    position: fixed;
    z-index: 15;
    background-color: $backgroundDark;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &-title {
    margin: 0 0;
    font-family: $font;
    color: #c8d5d3;
    position: absolute;
    z-index: 15;
    left: 35%;
    top: 5%;
  }
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}


#bl_for_scroll_wallets {
  position: fixed;
  overflow-y: scroll;
  top: 3em;
  bottom: 6em;
  left: 0;
  right: 0;
}