@import 'vars.scss';

.balance {
  width: 95%;
  height: 7em;
  line-height: 7em;
  position: absolute;
  bottom: 68%;
  left: 2%;
  text-align: center;
}

.balance-title {
  font-family: $font;
  color: #c8d5d3;

  &-block {
    width: 100%;
    height: 2em;
    line-height: 2em;
    text-align: center;
  }
}



.balance-text {
  font-family: $font;
  font-size: 36px;
  text-align: center;
  color: #000000;

  span {
    color: #008ECF;
  }

  &-block {
    width: 100%;
    height: 3em;
    line-height: 3em;
    text-align: center;
  }
}

.transactions {
  overflow: auto;
  width: 95%;
  height: 45%;
  position: absolute;
  bottom: 3%;
  left: 2%;
  background-color: #ffffff;
  border-top: 2px solid #BFC0C2;

  .list-body {
    background: #EFEFF0;
    position: static;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-sizing: border-box;
    height: auto;
    line-height: normal;
    width: 100%;
    display: flex;
    margin-left: 0;
    align-items: center;

    .list-body-name {
      color: #000000;
      font-size: 16px;
      position: static;
      text-align: left;
    }

    .list-body-balance {
      color: #008ECF;
      font-size: 16px;
      font-weight: bold;
      position: static;

      span {
        color: #000000;
      }
    }

    .list-body-date {
      color: #000000;
      font-size: 10px;
      position: static;
    }

    .list-body-descr {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }

    .list-body-wrap {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: column;
      width: 100%;
    }

    .receive,
    .send {
      position: static;
      background-size: cover;
      width: 16px;
      height: 16px;
      margin-right: 15px;
    }
  }

  &-button {
    height: 2em;
    line-height: 2em;
    width: 48%;
    font-family: $font;
    text-align: center;
    color: #000000;
    position: absolute;
    bottom: 48%;
    left: 49%;

    &-active {
      height: 2em;
      line-height: 2em;
      width: 48%;
      font-family: $font;
      background-color: #ffffff;
      border-bottom: 4px solid #005691;
      text-align: center;
      color: #000000;
      position: absolute;
      font-weight: bold;
      bottom: 48%;
      left: 49%;
    }
  }

  &::-webkit-scrollbar {
    width: 6px;

    &-thumb {
      border-width: 0.7px 0.7px 0.7px 1.4px;
      border-color: $backgroundLight;
      background-color: #5765d7;
    }
  }

}





.transactions .transactions .transactions::-webkit-scrollbar-track {
  border-width: 0;
}

.transactions::-webkit-scrollbar-track {
  border-width: 0;
}

.channels {
  overflow: auto;
  width: 95%;
  height: 45%;
  position: absolute;
  bottom: 3%;
  left: 2%;
  background-color: #ffffff;
  border-top: 2px solid #BFC0C2;

  &-button {
    height: 2em;
    line-height: 2em;
    width: 47%;
    font-family: $font;
    text-align: center;
    color: #000000;
    position: absolute;
    bottom: 48%;
    left: 2%;

    &-active {
      height: 2em;
      line-height: 2em;
      width: 47%;
      font-family: $font;
      font-weight: bold;
      text-align: center;
      color: #000000;
      position: absolute;
      border-bottom: 4px solid #005691;
      bottom: 48%;
      left: 2%;
    }
  }

  &::-webkit-scrollbar {
    width: 6px;

    &-thumb {
      border-width: 0.7px 0.7px 0.7px 1.4px;
      border-color: $backgroundLight;
      background-color: #5765d7;
    }

    // &-track {
    //   border-width: 0;
    // }
  }
}

//list of trans/channels

.channels-list-body {
  margin-top: 3%;
  margin-left: 2%;
  width: 95%;
  height: 4em;
  text-align: left;
  line-height: 3em;
  display: block;
  position: relative;

  &-name {
    font-family: $font;
    color: #c8d5d3;
    padding-left: 15px;
    position: absolute;
  }
}



.list-body {
  margin-top: 3%;
  margin-left: 2%;
  width: 95%;
  height: 7em;
  text-align: center;
  line-height: 5em;
  display: block;
  position: relative;

  &-name {
    font-family: $font;
    color: #c8d5d3;
    position: absolute;
    left: 70px;
    top: -18px;
  }

  &-balance {
    font-family: $font;
    color: #c8d5d3;
    position: absolute;
    left: 70px;
    top: 1em;

    &-ch {
      font-family: $font;
      color: #c8d5d3;
      position: absolute;
      left: 15px;
      top: 1.5em;
    }
  }

  &-date {
    font-family: $font;
    color: #c8d5d3;
    position: absolute;
    left: 70px;
    top: 3.6em;
    font-size: 14px;
  }
}


.send {
  display: inline-block;
  background: url(../styles/icons/menu/send.svg) no-repeat;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 10px;
  top: 19%;
}

.receive {
  display: inline-block;
  background: url(../styles/icons/menu/recive.svg) no-repeat;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 10px;
  top: 19%;
}